<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Examples · Twitter Bootstrap</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content=""/>
<meta name="author" content=""/>

    <!-- Le styles -->
    <link href="../../../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../../../assets/css/bootstrap-responsive.css" th:href="@{/assets/css/bootstrap-responsive.css}" rel="stylesheet"/>
    <link href="../../../assets/css/docs.css"  th:href="@{/assets/css/docs.css}" rel="stylesheet"/>
    <link href="../../../assets/js/google-code-prettify/prettify.css" th:href="@{/assets/js/google-code-prettify/prettify.css}" rel="stylesheet"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../../../assets/ico/favicon.ico" th:href="@{/assets/ico/favicon.ico}"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../../assets/ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../../assets/ico/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../../assets/ico/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="../../../assets/ico/apple-touch-icon-57-precomposed.png"/>
  </head>
  
  <body>

    <div th:include="index :: top">
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div th:include="index :: nav">
          </div>
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
	<header>
	<h2 th:text="#{security_login_title}">Login page</h2>
	<hr/>
	</header>
	<!-- 
	<p th:if="#{security_login_unsuccessful}">Wrong user or password</p>
	-->
	<fieldset>
	
	<form class="well" th:action="@{/j_spring_security_check}" method="post">
		<label for="j_username" th:text="#{security_login_form_name_message}">Username</label> 
		<input type="text" id="j_username" name="j_username" />
		<br />
		<label for="j_password" th:text="#{security_login_form_password_message}">Password</label>
		<input type="password" id="j_password" name="j_password" />
		<br />
		<input type="submit" value="Log in" th:value="#{button_submit}"/>
	</form>
	</fieldset>
	</div>
	</div>
	</div>
	  <div th:include="index :: footer">
	  </div>
    </div><!--/.fluid-container-->
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../../assets/js/jquery.js" th:src="@{/assets/js/jquery.js}"></script>
 	<script src="../../../assets/js/bootstrap-dropdown.js" th:src="@{/assets/js/bootstrap-dropdown.js}"></script>    
  </body>
</html>
